# --------------------
# Backend
# --------------------
backend/node_modules/
backend/.env
backend/src/database/database.sqlite
backend/*.log

# --------------------
# Frontend
# --------------------
frontend/node_modules/
frontend/build/
frontend/*.log

# --------------------
# Logs
# --------------------
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# --------------------
# Allgemein / Editor / OS
# --------------------
.DS_Store
Thumbs.db
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
